.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: var(--color-grey-50);
  transition: all 0.4s;
}

.logo:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}
